* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 70%;
}
.header img {
  width: 60px;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header ul li {
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.header li:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

main {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}
main .bg-jumbo {
  width: 100%;
  min-height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}